@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    font-family: 'Roboto-thin', sans-serif;
    color: #6D6D6D;
}
#row-center{
    display: flex;
    align-items: center;
}

header {
    height: 100px;
    box-shadow: #2d2d2d;
    position: relative;
    z-index: 2;
}
button {
    background-color: #979797;
    border: none;
    color: white;
    padding: 5px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 3px;
}

.meat{
    align-items: center;
    justify-content: center;
}

h1 {
    font-weight: 50;
    font-size: 55px;
}
h2 {
    font-weight: 50;
    font-size: 35px;
}

h3 {
    font-weight: 40;
    font-size: 20px;
}

.feat-text {
    font-weight: 75;
    font-size: 15px;
}
.unders {
    width: 350px;
    overflow-wrap: normal;
}

.section1 {
    background-color: #ECECEC;
    height: 700px;
}

.section2 {
    height: 350px;
    display: flex;
    justify-content: center;
}

.section3 {
    height: 350px;
    display: flex;
    justify-content: space-around;
}

.flex-test {
    display: flex;
    justify-content: center;
}

.flex-test > img {
    border-radius: 50%;
}

.box {
    border-radius: 3px;
    filter: drop-shadow(5px 5px 5px #737373);
}

.section-text {
    max-width: 500px;
}

