.left-sidebar, .right-sidebar {
    flex: 0 1 250px;
}

.sticky {
    position: sticky;
    top: 0px;
}

svg {
    max-width: 25px;
    float: left;
    margin-right: 10px;
}

.smaller-svg {
    display: flex;
    flex: 0 1 20px;
}

.left-sidebar {
    padding-top: 5px;
}

.left-padding {
    margin-left: 10px;
}

.not-twitter {
    height:50px;
    width: 50px;
    border-radius: 50%;
}

.above{
    padding-top: 25px;
}
.gap {
    padding-bottom: 25px;
    padding-left: 5px;
}

.not-tweet {
    background-color: #009DFC;
    border: none;
    color: white;
    padding: 5px 40px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    border-radius: 25px;
}

header {
    background-color: rgba(255, 255, 255, 0.6);
}

.avatar-wrapper {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid white;
}

.border {
    border: 2px solid #eeeeee;
}
hr {
    width: 100%;
    height: 2px;
    margin-left: auto;
    margin-right: auto;
    background-color: #eee;
    border: 0 none;
}

.twitter {
    margin-left: 15px;
    margin-top:-50px;
}

.edit {
    text-align: center;
    border: 1px solid #cecece;
    text-decoration: none;
    font-size: 15px;
    border-radius: 25px;
    margin-left: 400px;
    margin-right: 10px;
    margin-top: -40px;
}

.sgt-flagman {
    margin-left: -20px;
    margin-top:35px;
}

.padding {
    padding-top: 10px;
    padding-bottom: 10px;
}

.link-location {
    display: flex;
    flex: 1 0 0;
    white-space: nowrap;
}

.tweet-image {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    float: left;
}

.text-post {
    width: 75%;
    word-break: break-all;
    flex-wrap: wrap;
}

.search {
    background: #EFF3F4;
    border: 1px solid transparent;
    outline: none;
    padding: 10px 20px 10px 20px;
    font-size: 15px;
    border-radius: 99px;
    font-color: #7a7a7a;
    transition: all 0.3s ease 0s;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2px;
    margin-top: 2px;
    border-radius: 5px;
    overflow: hidden;
}
/*@media screen (max-width: 1265px) {*/
/*    .menu-item p {*/
/*        display: none;*/
/*    }*/
/*}*/